In [1]:
import pandas as pd
import sqlite3

In [2]:
db_file = "life_expectancy_tables.db"
df = pd.read_csv("NCHS_-_Death_rates_and_life_expectancy_at_birth.csv")
df.head(3)

   Year       Race         Sex  LifeExpectancy  AgeAdjustedDeathRate
0  1900  All Races  Both Sexes            47.3                2518.0
1  1901  All Races  Both Sexes            49.1                2473.1
2  1902  All Races  Both Sexes            51.5                2301.3

In [4]:
table = "life_expectancy_race_sex"
conn = sqlite3.connect(db_file)
df.to_sql(table, conn, if_exists="replace", index=False)
conn.close()