In [1]:
import sqlite3
import pandas as _z

In [2]:
conn = sqlite3.connect("life_expectancy_tables.db")
datasets = []
datasets.append(_z.read_sql("SELECT * FROM ssa_life_expectancy_sex_year", conn))
datasets.append(_z.read_sql("SELECT * FROM life_expectancy_sex_state", conn))
datasets.append(_z.read_sql("SELECT * FROM life_expectancy_state_county", conn))
datasets.append(_z.read_sql("SELECT * FROM life_expectancy_race_sex", conn))
datasets.append(_z.read_sql("SELECT * FROM life_expectancy_race_sex_year", conn))
conn.close()

In [3]:
print(datasets[0].head(1))

   Year   Sex  LifeExpectancy
0  1940  Male            61.4

In [4]:
print(datasets[1].head(1))

     State         Sex  LifeExpectancy
0  Alabama  Both Sexes            73.2

In [5]:
print(datasets[2].head(1))

     State          County  LifeExpectancy
0  Alabama  Autauga County           75.32

In [6]:
print(datasets[3].head(1))

   Year       Race         Sex  LifeExpectancy  AgeAdjustedDeathRate
0  1900  All Races  Both Sexes            47.3                2518.0

In [7]:
print(datasets[4].head(1))

   Year       Race         Sex  LifeExpectancy
0  1940  All Races  Both Sexes            62.9