In [1]:
import sqlite3
import pandas as pd

In [2]:
t_0 = "ssa_life_expectancy_sex_year"  #SSA_Life_Expectancy_by_sex_1940_2001.csv and SSA_Life_Expectancy_by_sex_2002_2080.csv: SSA.gov
t_1 = "life_expectancy_sex_state"     #U.S._State_Life_Expectancy_by_Sex__2020.csv: Kaggle.com
t_2 = "life_expectancy_state_county"  #U.S._Life_Expectancy_at_Birth_by_State_and_Census_Tract_-_2010-2015.csv: CDC.gov
t_3 = "life _expectancy_race_sex"     #NCHS_-_Death_rates_and_life_expectancy_at_birth.csv: Kaggle.com
t_4 = "life_expectancy_race_sex_year" #133_life_expectancy_data.csv: data.gov

In [4]:
df_0 = pd.read_csv("SSA_Life_Expectancy_by_sex_1940_2080.csv", encoding='latin1') 
df_1 = pd.read_csv("U.S._State_Life_Expectancy_by_Sex__2020.csv", encoding='latin1') 
df_2 = pd.read_csv("U.S._Life_Expectancy_at_Birth_by_State_and_Census_Tract_-_2010-2015.csv", encoding='latin1') 
df_3 = pd.read_csv("NCHS_-_Death_rates_and_life_expectancy_at_birth.csv", encoding='latin1') 
df_4 = pd.read_csv("133_life-expectancy_reformatted.csv", encoding='latin1')

In [5]:
print(df_0.head(1))

   Year   Sex  LifeExpectancy
0  1940  Male            61.4

In [6]:
print(df_1.head(1))

     State         Sex  LifeExpectancy  StandardError  \
0  Alabama  Both Sexes            73.2          0.067

   LifeExpectancyQuartileLow  LifeExpectancyQuartileHigh
0                       71.9                        75.3

In [7]:
print(df_2.head(1))

     State County  CensusTract  LifeExpectancy LifeExpectancyRange  \
0  Alabama    NaN          NaN            75.5           75.2-77.5

   LifeExpectancyStandardError
0                       0.0328

In [8]:
print(df_3.head(1))

   Year       Race         Sex  LifeExpectancy  AgeAdjustedDeathRate
0  1900  All Races  Both Sexes            47.3                2518.0

In [9]:
print(df_4.head(1))

   Year       Race         Sex  LifeExpectancy
0  1940  All Races  Both Sexes            62.9

In [10]:
#df_1, #df_3
conn = sqlite3.connect("life_expectancy_tables.db")
datasets = []
datasets.append(pd.read_sql("SELECT * FROM ssa_life_expectancy_sex_year", conn))
datasets.append(pd.read_sql("SELECT * FROM life_expectancy_sex_state", conn))
datasets.append(pd.read_sql("SELECT * FROM life_expectancy_state_county", conn))
datasets.append(pd.read_sql("SELECT * FROM life_expectancy_race_sex", conn))
datasets.append(pd.read_sql("SELECT * FROM life_expectancy_race_sex_year", conn))
conn.close()

In [11]:
print(datasets[0].head(1))

   Year   Sex  LifeExpectancy
0  1940  Male            61.4

In [12]:
print(datasets[1].head(1))

     State         Sex  LifeExpectancy
0  Alabama  Both Sexes            73.2

In [14]:
print(datasets[2].head(1))

     State          County  LifeExpectancy
0  Alabama  Autauga County           75.32

In [15]:
print(datasets[3].head(1))

   Year       Race         Sex  LifeExpectancy  AgeAdjustedDeathRate
0  1900  All Races  Both Sexes            47.3                2518.0

In [16]:
print(datasets[4].head(1))

   Year       Race         Sex  LifeExpectancy
0  1940  All Races  Both Sexes            62.9

In [13]:
connx = sqlite3.connect("life_expectancy_tables.db")

In [17]:
connx.close()