In [10]:
import sqlite3
import pandas as _z

In [48]:
conn = sqlite3.connect("life_expectancy_tables.db")
datasets = []
datasets.append(_z.read_sql("SELECT * FROM ssa_life_expectancy_sex_year", conn))
datasets.append(_z.read_sql("SELECT * FROM life_expectancy_sex_state", conn))
datasets.append(_z.read_sql("SELECT * FROM life_expectancy_state_county", conn))
datasets.append(_z.read_sql("SELECT * FROM life_expectancy_race_sex", conn))
datasets.append(_z.read_sql("SELECT * FROM life_expectancy_race_sex_year", conn))
conn.close()

In [49]:
print(datasets[0].head(1))

   Year   Sex  LifeExpectancy
0  1940  Male            61.4

In [50]:
print(datasets[1].head(1))

     State         Sex  LifeExpectancy
0  Alabama  Both Sexes            73.2

In [51]:
print(datasets[2].head(1))

     State          County  LifeExpectancy
0  Alabama  Autauga County           75.32

In [52]:
print(datasets[3].head(1))

   Year       Race         Sex  LifeExpectancy  AgeAdjustedDeathRate
0  1900  All Races  Both Sexes            47.3                2518.0

In [53]:
print(datasets[4].head(1))

   Year       Race         Sex  LifeExpectancy
0  1940  All Races  Both Sexes            62.9

In [25]:
df = datasets[3].drop(columns=['AgeAdjustedDeathRate'])

In [27]:
print(df.head(1))

   Year       Race         Sex  LifeExpectancy
0  1900  All Races  Both Sexes            47.3

In [29]:
conn2 = sqlite3.connect("life_expectancy_tables.db")
table = "life_expectancy_race_sex"
df.to_sql(table, conn2, if_exists="replace", index=False)

1071

In [36]:
df0 = _z.read_csv('U.S._State_Life_Expectancy_by_Sex__2020.csv', encoding='latin1')

In [37]:
print(df0.head(1))

     State         Sex  LifeExpectancy  StandardError  \
0  Alabama  Both Sexes            73.2          0.067

   LifeExpectancyQuartileLow  LifeExpectancyQuartileHigh
0                       71.9                        75.3

In [38]:
df1 = df0.drop(columns=['LifeExpectancyQuartileLow','LifeExpectancyQuartileHigh'])

In [39]:
print(df1.head(1))

     State         Sex  LifeExpectancy  StandardError
0  Alabama  Both Sexes            73.2          0.067

In [40]:
table2 = "life_expectancy_sex_state"
df1.to_sql(table, conn2, if_exists="replace", index=False)

156

In [42]:
final = _z.read_csv('NCHS_-_Death_rates_and_life_expectancy_at_birth.csv', encoding='latin1')

In [44]:
print(final.head(1))

   Year       Race         Sex  Average Life Expectancy (Years)  \
0  1900  All Races  Both Sexes                             47.3

   Age-adjusted Death Rate
0                   2518.0

In [45]:
final.columns = ['Year', 'Race', 'Sex', 'LifeExpectancy', 'AgeAdjustedDeathRate']
print(final.head(1))

   Year       Race         Sex  LifeExpectancy  AgeAdjustedDeathRate
0  1900  All Races  Both Sexes            47.3                2518.0

In [46]:
table3 = "life_expectancy_race_sex_year"
final.to_sql(table, conn2, if_exists="replace", index=False)

1071

In [47]:
conn2.close()