In [3]:
import pandas as pd
import sqlite3

In [4]:
db_file = "life_expectancy_tables.db"
conn = sqlite3.connect(db_file)
sex_year = "ssa_life_expectancy_sex_year"
sex_state = "life_expectancy_sex_state"
state_county = "life_expectancy_state_county"
race_sex = "life_expectancy_race_sex"
df_sex_year = pd.read_sql(f"SELECT * FROM {sex_year}", conn)
df_sex_state = pd.read_sql(f"SELECT * FROM {sex_state}", conn)
df_state_county = pd.read_sql(f"SELECT * FROM {state_county}", conn)
df_race_sex = pd.read_sql(f"SELECT * FROM {race_sex}", conn)
conn.close()

In [5]:
print(df_sex_year.head(2))

   Year   Sex  LifeExpectancy
0  1940  Male            61.4
1  1941  Male            61.9

In [6]:
print(df_sex_state.head(2))

     State         Sex  LifeExpectancy
0  Alabama  Both Sexes            73.2
1   Alaska  Both Sexes            76.6

In [7]:
print(df_state_county.head(2))

     State          County  LifeExpectancy
0  Alabama  Autauga County       75.320000
1  Alabama  Baldwin County       77.482759

In [8]:
print(df_race_sex.head(2))

   Year       Race         Sex  LifeExpectancy
0  1900  All Races  Both Sexes            47.3
1  1901  All Races  Both Sexes            49.1