In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
df = pd.read_csv('U.S._Life_Expectancy_at_Birth_by_State_and_Census_Tract_2010-2015_cleaned.csv',encoding='latin-1')

In [12]:
df.shape

(3411, 4)

In [14]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3411 entries, 0 to 3410
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   State                        3411 non-null   object
 1   County                       3411 non-null   object
 2   LifeExpectancy               3108 non-null   float64
 3   LifeExpectancyStandardError  3108 non-null   float64
dtypes: float64(2), object(2)
memory usage: 106.7+ KB
None

In [15]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
LifeExpectancy,3108.0,77.735405,2.584088,69.05,75.94,77.705,79.5,89.50
LifeExpectancyStandardError,3108.0,1.717513,0.337978,0.51,1.51,1.700,1.9,3.75

In [16]:
df.isnull().sum() * 100 / df.shape[0]

State                          0.000000
County                         0.000000
LifeExpectancy                 8.883026
LifeExpectancyStandardError    8.883026
dtype: float64

In [17]:
print(df[df.isnull().any(axis=1)])

          State                        County  LifeExpectancy  \
1       Alabama                Baldwin County             NaN
49      Alabama                 Mobile County             NaN
74       Alaska            Denali Borough, AK             NaN
83       Alaska      Kusilvak Census Area, AK             NaN
95       Alaska  Wade Hampton Census Area, AK             NaN
...         ...                           ...             ...
3351  Wisconsin              Milwaukee County             NaN
3354  Wisconsin                 Oconto County             NaN
3358  Wisconsin                Ozaukee County             NaN
3365  Wisconsin                 Racine County             NaN
3373  Wisconsin              Sheboygan County             NaN

      LifeExpectancyStandardError
1                             NaN
49                            NaN
74                            NaN
83                            NaN
95                            NaN
...                           ...
3351                          NaN
3354                          NaN
3358                          NaN
3365                          NaN
3373                          NaN

[303 rows x 4 columns]

In [18]:
# grep ',,' U.S._Life_Expectancy_at_Birth_by_State_and_Census_Tract_2010-2015_cleaned.csv | wc -l
303

303