In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [18]:
df = pd.read_csv('main_original.csv',encoding='latin-1')
df.head()

,State,County,CensusTract,LifeExpectancy,LifeExpectancyRange,LifeExpectancyStandardError
0,Alabama,(blank),NaN,75.5,75.2-77.5,0.0328
1,Alabama,"Autauga County, AL",201.0,73.1,56.9-75.1,2.2348
2,Alabama,"Autauga County, AL",202.0,76.9,75.2-77.5,3.3453
3,Alabama,"Autauga County, AL",203.0,NaN,NaN,NaN
4,Alabama,"Autauga County, AL",204.0,75.4,75.2-77.5,1.0216

In [19]:
#get rid of lines like Alabama	(blank)	NaN	75.5	75.2-77.5	0.0328
df_cleaned = df[~df.eq('(blank)').any(axis=1)]
df_cleaned.head(10)

,State,County,CensusTract,LifeExpectancy,LifeExpectancyRange,LifeExpectancyStandardError
1,Alabama,"Autauga County, AL",201.00,73.1,56.9-75.1,2.2348
2,Alabama,"Autauga County, AL",202.00,76.9,75.2-77.5,3.3453
3,Alabama,"Autauga County, AL",203.00,NaN,NaN,NaN
4,Alabama,"Autauga County, AL",204.00,75.4,75.2-77.5,1.0216
5,Alabama,"Autauga County, AL",205.00,79.4,77.6-79.5,1.1768
6,Alabama,"Autauga County, AL",206.00,73.1,56.9-75.1,1.5519
7,Alabama,"Autauga County, AL",207.00,NaN,NaN,NaN
8,Alabama,"Autauga County, AL",208.01,78.3,77.6-79.5,2.3861
9,Alabama,"Autauga County, AL",208.02,76.9,75.2-77.5,1.2628
10,Alabama,"Autauga County, AL",209.00,73.9,56.9-75.1,1.5923

In [20]:
print(df_cleaned.shape)
print(df.shape)

(73070, 6)
(73121, 6)

In [21]:
df_cleaned.tail(10)

,State,County,CensusTract,LifeExpectancy,LifeExpectancyRange,LifeExpectancyStandardError
73111,Wyoming,"Teton County, WY",9677.02,82.6,81.7-97.5,2.0110
73112,Wyoming,"Teton County, WY",9678.00,85.9,81.7-97.5,3.1318
73113,Wyoming,"Uinta County, WY",9752.00,79.0,77.6-79.5,1.3708
73114,Wyoming,"Uinta County, WY",9753.00,76.7,75.2-77.5,0.9141
73115,Wyoming,"Uinta County, WY",9754.00,77.4,75.2-77.5,0.9362
73116,Wyoming,"Washakie County, WY",2.00,80.1,79.6-81.6,2.6916
73117,Wyoming,"Washakie County, WY",3.01,79.9,79.6-81.6,2.8024
73118,Wyoming,"Washakie County, WY",3.02,81.8,81.7-97.5,2.0776
73119,Wyoming,"Weston County, WY",9511.00,79.0,77.6-79.5,1.0697
73120,Wyoming,"Weston County, WY",9513.00,78.6,77.6-79.5,1.6093

In [22]:
df_update = df_cleaned.drop(columns=['CensusTract', 'LifeExpectancyRange'])
print(df_update.shape)

(73070, 4)

In [23]:
df_update.head(10)

      State              County  LifeExpectancy  LifeExpectancyStandardError
1   Alabama  Autauga County, AL            73.1                       2.2348
2   Alabama  Autauga County, AL            76.9                       3.3453
3   Alabama  Autauga County, AL             NaN                          NaN
4   Alabama  Autauga County, AL            75.4                       1.0216
5   Alabama  Autauga County, AL            79.4                       1.1768
6   Alabama  Autauga County, AL            73.1                       1.5519
7   Alabama  Autauga County, AL             NaN                          NaN
8   Alabama  Autauga County, AL            78.3                       2.3861
9   Alabama  Autauga County, AL            76.9                       1.2628
10  Alabama  Autauga County, AL            73.9                       1.5923

In [24]:
df_update.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73070 entries, 1 to 73120
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   State                        73070 non-null  object
 1   County                       73070 non-null  object
 2   LifeExpectancy               67148 non-null  float64
 3   LifeExpectancyStandardError  67148 non-null  float64
dtypes: float64(2), object(2)
memory usage: 2.8+ MB

In [25]:
df_update.describe().T

,count,mean,std,min,25%,50%,75%,max
LifeExpectancy,67148.0,78.309467,3.990279,56.9000,75.8000,78.5000,81.000000,97.5000
LifeExpectancyStandardError,67148.0,1.855832,0.651331,0.4588,1.3797,1.7067,2.186825,3.9998

In [26]:
#based on above, will use mean
df_update['LifeExpectancy'] = df_update['LifeExpectancy'].fillna(df_update['LifeExpectancy'].mean())
df_update['LifeExpectancyStandardError'] = df_update['LifeExpectancyStandardError'].fillna(df_update['LifeExpectancyStandardError'].mean())
df_update.describe().T

,count,mean,std,min,25%,50%,75%,max
LifeExpectancy,73070.0,78.309467,3.825163,56.9000,76.100,78.309467,80.8000,97.5000
LifeExpectancyStandardError,73070.0,1.855832,0.624379,0.4588,1.408,1.773550,2.1291,3.9998

In [7]:
df_clean = pd.read_csv('life_expectancy_by_county_cleaned.csv',encoding='latin-1')

In [8]:
df_clean.head(10)

,ToDrop,State,County,LifeExpectancy,LifeExpectancyStandardError
0,1,Alabama,"Autauga County, AL",73.100000,2.234800
1,2,Alabama,"Autauga County, AL",76.900000,3.345300
2,3,Alabama,"Autauga County, AL",78.309467,1.855832
3,4,Alabama,"Autauga County, AL",75.400000,1.021600
4,5,Alabama,"Autauga County, AL",79.400000,1.176800
5,6,Alabama,"Autauga County, AL",73.100000,1.551900
6,7,Alabama,"Autauga County, AL",78.309467,1.855832
7,8,Alabama,"Autauga County, AL",78.300000,2.386100
8,9,Alabama,"Autauga County, AL",76.900000,1.262800
9,10,Alabama,"Autauga County, AL",73.900000,1.592300

In [9]:
df_clean.tail(10)

,ToDrop,State,County,LifeExpectancy,LifeExpectancyStandardError
73060,73111,Wyoming,"Teton County, WY",82.6,2.0110
73061,73112,Wyoming,"Teton County, WY",85.9,3.1318
73062,73113,Wyoming,"Uinta County, WY",79.0,1.3708
73063,73114,Wyoming,"Uinta County, WY",76.7,0.9141
73064,73115,Wyoming,"Uinta County, WY",77.4,0.9362
73065,73116,Wyoming,"Washakie County, WY",80.1,2.6916
73066,73117,Wyoming,"Washakie County, WY",79.9,2.8024
73067,73118,Wyoming,"Washakie County, WY",81.8,2.0776
73068,73119,Wyoming,"Weston County, WY",79.0,1.0697
73069,73120,Wyoming,"Weston County, WY",78.6,1.6093

In [5]:
df_cleaned.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,73070.0,36559.437293,21108.395257,1.0000,18277.250,36558.500000,54839.7500,73120.0000
LifeExpectancy,73070.0,78.309467,3.825163,56.9000,76.100,78.309467,80.8000,97.5000
LifeExpectancyStandardError,73070.0,1.855832,0.624379,0.4588,1.408,1.773550,2.1291,3.9998

In [10]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73070 entries, 0 to 73069
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ToDrop                       73070 non-null  int64
 1   State                        73070 non-null  object
 2   County                       73070 non-null  object
 3   LifeExpectancy               73070 non-null  float64
 4   LifeExpectancyStandardError  73070 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.8+ MB

In [11]:
df3 = df_clean.drop(columns=['ToDrop'])
print(df3.shape)

(73070, 4)

In [12]:
df3.describe().T

,count,mean,std,min,25%,50%,75%,max
LifeExpectancy,73070.0,78.309467,3.825163,56.9000,76.100,78.309467,80.8000,97.5000
LifeExpectancyStandardError,73070.0,1.855832,0.624379,0.4588,1.408,1.773550,2.1291,3.9998

In [19]:
df3.to_csv('life_expectancy_by_county.csv')

In [20]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73070 entries, 0 to 73069
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   LifeExpectancy               73070 non-null  float64
 1   LifeExpectancyStandardError  73070 non-null  float64
 2   CountyName                   73070 non-null  object
 3   State                        72751 non-null  object
dtypes: float64(2), object(2)
memory usage: 2.2+ MB

In [18]:
# Split County into CountyName + StateAbbrev
df3[['CountyName', 'StateAbbrev']] = df3['County'].str.split(',', expand=True)
df3['CountyName'] = df3['CountyName'].str.strip()
df3['StateAbbrev'] = df3['StateAbbrev'].str.strip()

# Optionally drop redundant columns
df3 = df3.drop(columns=['County'])  # drop original County column
df3 = df3.drop(columns=['State'])  # drop full state name if not needed
df3.rename(columns={'StateAbbrev': 'State'}, inplace=True)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73070 entries, 0 to 73069
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   LifeExpectancy               73070 non-null  float64
 1   LifeExpectancyStandardError  73070 non-null  float64
 2   CountyName                   73070 non-null  object
 3   State                        72751 non-null  object
dtypes: float64(2), object(2)
memory usage: 2.2+ MB