In [1]:
import sqlite3
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
conn = sqlite3.connect("life_expectancy_model_data.db")        #connect to SQLite database
state_county_model_data = pd.read_sql("SELECT * FROM state_county_model_data", conn)                #state_county_model_data
_133_year_race_sex_model_data = pd.read_sql("SELECT * FROM _133_year_race_sex_model_data", conn)    #133_year_race_sex_model_data
state_sex_model_data = pd.read_sql("SELECT * FROM state_sex_model_data", conn)                      #state_sex_model_data
nchs_year_race_sex_model_data = pd.read_sql("SELECT * FROM nchs_year_race_sex_model_data", conn)    #nchs_year_race_sex_model_data
ssa_year_sex_model_data = pd.read_sql("SELECT * FROM ssa_year_sex_model_data", conn)                #ssa_year_sex_model_data
conn.close()

In [3]:
X1 = state_county_model_data.drop('LifeExpectancy', axis=1) 
X2 = _133_year_race_sex_model_data.drop('LifeExpectancy', axis=1)  
X3 = state_sex_model_data.drop('LifeExpectancy', axis=1)  
X4 = nchs_year_race_sex_model_data.drop('LifeExpectancy', axis=1)  
X5 = ssa_year_sex_model_data.drop('LifeExpectancy', axis=1)

In [4]:
y1 = state_county_model_data['LifeExpectancy']
y2 = _133_year_race_sex_model_data['LifeExpectancy'] 
y3 = state_sex_model_data['LifeExpectancy']
y4 = nchs_year_race_sex_model_data['LifeExpectancy'] 
y5 = ssa_year_sex_model_data['LifeExpectancy']

In [5]:
y4.describe()

count    1065.000000
mean       64.500188
std        11.843765
min        29.100000
25%        57.100000
50%        66.800000
75%        73.900000
max        81.400000
Name: LifeExpectancy, dtype: float64

In [6]:
y4.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1071 entries, 0 to 1070
Series name: LifeExpectancy
Non-Null Count  Dtype
--------------  -----
1065 non-null   float64
dtypes: float64(1)
memory usage: 8.5 KB

In [7]:
y4.head()

0    47.3
1    49.1
2    51.5
3    50.5
4    47.6
Name: LifeExpectancy, dtype: float64

In [8]:
y3.head()

0    73.2
1    76.6
2    76.3
3    73.8
4    79.0
Name: LifeExpectancy, dtype: float64

In [6]:
print(X1.shape)

(3144, 2)

In [7]:
print(X2.shape)

(702, 3)

In [8]:
print(X3.shape)
print(X4.shape)
print(X5.shape)

(153, 2)
(1071, 3)
(282, 2)

In [9]:
print(y1.shape)
print(y2.shape)
print(y3.shape)
print(y4.shape)
print(y5.shape)

(3144,)
(702,)
(153,)
(1071,)
(282,)

In [9]:
nchs_year_race_sex_model_data.to_csv('test.csv')