In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [45]:
df = pd.read_csv('main_original.csv',encoding='latin-1')
df.head()

,State,County,CensusTract,LifeExpectancy,LifeExpectancyRange,LifeExpectancyStandardError
0,Alabama,(blank),NaN,75.5,75.2-77.5,0.0328
1,Alabama,"Autauga County, AL",201.0,73.1,56.9-75.1,2.2348
2,Alabama,"Autauga County, AL",202.0,76.9,75.2-77.5,3.3453
3,Alabama,"Autauga County, AL",203.0,NaN,NaN,NaN
4,Alabama,"Autauga County, AL",204.0,75.4,75.2-77.5,1.0216

In [46]:
#get rid of lines like Alabama	(blank)	NaN	75.5	75.2-77.5	0.0328
df_cleaned = df[~df.eq('(blank)').any(axis=1)]
df_cleaned.head(10)

,State,County,CensusTract,LifeExpectancy,LifeExpectancyRange,LifeExpectancyStandardError
1,Alabama,"Autauga County, AL",201.00,73.1,56.9-75.1,2.2348
2,Alabama,"Autauga County, AL",202.00,76.9,75.2-77.5,3.3453
3,Alabama,"Autauga County, AL",203.00,NaN,NaN,NaN
4,Alabama,"Autauga County, AL",204.00,75.4,75.2-77.5,1.0216
5,Alabama,"Autauga County, AL",205.00,79.4,77.6-79.5,1.1768
6,Alabama,"Autauga County, AL",206.00,73.1,56.9-75.1,1.5519
7,Alabama,"Autauga County, AL",207.00,NaN,NaN,NaN
8,Alabama,"Autauga County, AL",208.01,78.3,77.6-79.5,2.3861
9,Alabama,"Autauga County, AL",208.02,76.9,75.2-77.5,1.2628
10,Alabama,"Autauga County, AL",209.00,73.9,56.9-75.1,1.5923

In [47]:
print(df_cleaned.shape)
print(df.shape)

(73070, 6)
(73121, 6)

In [48]:
df_update = df_cleaned.drop(columns=['CensusTract', 'LifeExpectancyRange'])
print(df_update.shape)

(73070, 4)

In [49]:
df_update.describe().T

,count,mean,std,min,25%,50%,75%,max
LifeExpectancy,67148.0,78.309467,3.990279,56.9000,75.8000,78.5000,81.000000,97.5000
LifeExpectancyStandardError,67148.0,1.855832,0.651331,0.4588,1.3797,1.7067,2.186825,3.9998

In [50]:
#based on above, will use mean
df_update['LifeExpectancy'] = df_update['LifeExpectancy'].fillna(df_update['LifeExpectancy'].mean())
df_update['LifeExpectancyStandardError'] = df_update['LifeExpectancyStandardError'].fillna(df_update['LifeExpectancyStandardError'].mean())
df_update.describe().T

,count,mean,std,min,25%,50%,75%,max
LifeExpectancy,73070.0,78.309467,3.825163,56.9000,76.100,78.309467,80.8000,97.5000
LifeExpectancyStandardError,73070.0,1.855832,0.624379,0.4588,1.408,1.773550,2.1291,3.9998

In [51]:
df_update.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73070 entries, 1 to 73120
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   State                        73070 non-null  object
 1   County                       73070 non-null  object
 2   LifeExpectancy               73070 non-null  float64
 3   LifeExpectancyStandardError  73070 non-null  float64
dtypes: float64(2), object(2)
memory usage: 2.8+ MB

In [53]:
df_update['County'] = df_update['County'].str.split(',').str[0].str.strip()
df_update.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73070 entries, 1 to 73120
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   State                        73070 non-null  object
 1   County                       73070 non-null  object
 2   LifeExpectancy               73070 non-null  float64
 3   LifeExpectancyStandardError  73070 non-null  float64
dtypes: float64(2), object(2)
memory usage: 2.8+ MB

In [55]:
print(df_update.head(10))
print(df_update.tail(10))

      State          County  LifeExpectancy  LifeExpectancyStandardError
1   Alabama  Autauga County       73.100000                     2.234800
2   Alabama  Autauga County       76.900000                     3.345300
3   Alabama  Autauga County       78.309467                     1.855832
4   Alabama  Autauga County       75.400000                     1.021600
5   Alabama  Autauga County       79.400000                     1.176800
6   Alabama  Autauga County       73.100000                     1.551900
7   Alabama  Autauga County       78.309467                     1.855832
8   Alabama  Autauga County       78.300000                     2.386100
9   Alabama  Autauga County       76.900000                     1.262800
10  Alabama  Autauga County       73.900000                     1.592300
         State           County  LifeExpectancy  LifeExpectancyStandardError
73111  Wyoming     Teton County            82.6                       2.0110
73112  Wyoming     Teton County            85.9                       3.1318
73113  Wyoming     Uinta County            79.0                       1.3708
73114  Wyoming     Uinta County            76.7                       0.9141
73115  Wyoming     Uinta County            77.4                       0.9362
73116  Wyoming  Washakie County            80.1                       2.6916
73117  Wyoming  Washakie County            79.9                       2.8024
73118  Wyoming  Washakie County            81.8                       2.0776
73119  Wyoming    Weston County            79.0                       1.0697
73120  Wyoming    Weston County            78.6                       1.6093

In [57]:
df_update.to_csv('life_expectancy_by_county.csv', index=False)

In [58]:
df2 = pd.read_csv('life_expectancy_by_county.csv',encoding='latin-1')

In [59]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73070 entries, 0 to 73069
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   State                        73070 non-null  object
 1   County                       73070 non-null  object
 2   LifeExpectancy               73070 non-null  float64
 3   LifeExpectancyStandardError  73070 non-null  float64
dtypes: float64(2), object(2)
memory usage: 2.2+ MB

In [60]:
df2.describe()

       LifeExpectancy  LifeExpectancyStandardError
count    73070.000000                 73070.000000
mean        78.309467                     1.855832
std          3.825163                     0.624379
min         56.900000                     0.458800
25%         76.100000                     1.408000
50%         78.309467                     1.773550
75%         80.800000                     2.129100
max         97.500000                     3.999800

In [61]:
# Group by State and County, then average the numeric columns
df_avg = (
    df2.groupby(["State", "County"], as_index=False)
      .agg({
          "LifeExpectancy": "mean",
          "LifeExpectancyStandardError": "mean"
      })
)

# Save the cleaned dataset
#df_avg.to_csv("life_expectancy_by_county_cleaned.csv", index=False)

print("Original shape:", df.shape)
print("Cleaned shape:", df_avg.shape)
print(df_avg.head())

Original shape: (73121, 6)
Cleaned shape: (3144, 4)
     State          County  LifeExpectancy  LifeExpectancyStandardError
0  Alabama  Autauga County       75.818245                     1.721689
1  Alabama  Baldwin County       77.560263                     1.594572
2  Alabama  Barbour County       74.935437                     1.627485
3  Alabama     Bibb County       73.550000                     1.642525
4  Alabama   Blount County       76.077778                     1.316611

In [62]:
df_avg.to_csv('life_expectancy_by_county_data.csv', index=False)