In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('NCHS_-_Death_rates_and_life_expectancy_at_birth.csv',encoding='latin-1')
df.head()

,Year,Race,Sex,Average Life Expectancy (Years),Age-adjusted Death Rate
0,1900,All Races,Both Sexes,47.3,2518.0
1,1901,All Races,Both Sexes,49.1,2473.1
2,1902,All Races,Both Sexes,51.5,2301.3
3,1903,All Races,Both Sexes,50.5,2379.0
4,1904,All Races,Both Sexes,47.6,2502.5

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1071 entries, 0 to 1070
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Year                             1071 non-null   int64
 1   Race                             1071 non-null   object
 2   Sex                              1071 non-null   object
 3   Average Life Expectancy (Years)  1065 non-null   float64
 4   Age-adjusted Death Rate          1071 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 42.0+ KB

In [6]:
print(df.isnull().sum().any())
print(df.isnull().sum().sum())
#print(df.isna()) #check dataframe for NAN
#print(df.isna().any()) #check columns for NAN
#print(df.isna().any(axis=1)) #check rows for NAN

True
6

In [8]:
df.isna()

,Year,Race,Sex,Average Life Expectancy (Years),Age-adjusted Death Rate
0,False,False,False,False,False
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
...,...,...,...,...,...
1066,False,False,False,False,False
1067,False,False,False,False,False
1068,False,False,False,False,False
1069,False,False,False,False,False
1070,False,False,False,True,False

In [9]:
df.isna().sum()

Year                               0
Race                               0
Sex                                0
Average Life Expectancy (Years)    6
Age-adjusted Death Rate            0
dtype: int64

In [10]:
df_r = df.rename(columns={'Average Life Expectancy (Years)': 'LifeExpectancy', 'Age-adjusted Death Rate': 'AgeAdjustedDeathRate'})

In [11]:
df_r['LifeExpectancy'] = df_r['LifeExpectancy'].fillna(df_r['LifeExpectancy'].mean())

In [12]:
df_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1071 entries, 0 to 1070
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  1071 non-null   int64
 1   Race                  1071 non-null   object
 2   Sex                   1071 non-null   object
 3   LifeExpectancy        1071 non-null   float64
 4   AgeAdjustedDeathRate  1071 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 42.0+ KB

In [13]:
df_r.describe()

              Year  LifeExpectancy  AgeAdjustedDeathRate
count  1071.000000     1071.000000           1071.000000
mean   1959.000000       64.500188           1593.061625
std      34.367176       11.810512            682.369379
min    1900.000000       29.100000            611.300000
25%    1929.000000       57.150000           1012.950000
50%    1959.000000       66.800000           1513.700000
75%    1989.000000       73.900000           2057.150000
max    2018.000000       81.400000           3845.700000

In [14]:
df_r.to_csv('nchs_cleaned.csv', index=False)