In [23]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("wdbc.data.mb.csv", header=None)

In [3]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
count,613.000000,613.000000,613.000000,613.000000,613.000000,613.000000,613.000000,613.000000,613.000000,613.000000,...,613.000000,613.000000,613.000000,613.000000,613.000000,613.000000,613.000000,613.000000,613.000000,613.000000
mean,14.192026,19.391240,92.412969,661.607830,0.096297,0.104640,0.089480,0.049305,0.181179,0.062682,...,25.813230,107.877357,889.765905,0.132668,0.256682,0.274511,0.115708,0.291009,0.084008,-0.233279
std,3.563524,4.352253,24.563996,359.449204,0.013984,0.052168,0.079377,0.038684,0.027249,0.006988,...,6.235422,33.711680,573.482567,0.022991,0.156054,0.206105,0.065465,0.062156,0.017876,0.973204
min,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.000000,0.106000,0.049960,...,12.020000,50.410000,185.200000,0.071170,0.027290,0.000000,0.000000,0.156500,0.055040,-1.000000
25%,11.740000,16.320000,75.460000,422.900000,0.086050,0.066010,0.029740,0.020360,0.161900,0.057660,...,21.180000,84.460000,516.500000,0.117000,0.148200,0.118100,0.065280,0.251000,0.071850,-1.000000
50%,13.440000,18.900000,87.020000,556.700000,0.095860,0.094620,0.064760,0.034850,0.179700,0.061540,...,25.460000,98.400000,697.700000,0.131600,0.216700,0.231800,0.101700,0.283300,0.080200,-1.000000
75%,16.020000,21.880000,104.700000,793.200000,0.105100,0.130600,0.130700,0.073640,0.195900,0.066060,...,30.120000,126.300000,1095.000000,0.146100,0.342000,0.386100,0.162800,0.318700,0.092090,1.000000
max,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.201200,0.304000,0.097440,...,49.540000,251.200000,4254.000000,0.222600,1.058000,1.252000,0.291000,0.663800,0.207500,1.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       613 non-null    float64
 1   1       613 non-null    float64
 2   2       613 non-null    float64
 3   3       613 non-null    float64
 4   4       613 non-null    float64
 5   5       613 non-null    float64
 6   6       613 non-null    float64
 7   7       613 non-null    float64
 8   8       613 non-null    float64
 9   9       613 non-null    float64
 10  10      613 non-null    float64
 11  11      613 non-null    float64
 12  12      613 non-null    float64
 13  13      613 non-null    float64
 14  14      613 non-null    float64
 15  15      613 non-null    float64
 16  16      613 non-null    float64
 17  17      613 non-null    float64
 18  18      613 non-null    float64
 19  19      613 non-null    float64
 20  20      613 non-null    float64
 21  21      613 non-null    float64
 22  22      613 non-null    float64
 23  23      613 non-null    float64
 24  24      613 non-null    float64
 25  25      613 non-null    float64
 26  26      613 non-null    float64
 27  27      613 non-null    float64
 28  28      613 non-null    float64
 29  29      613 non-null    float64
 30  30      613 non-null    int64
dtypes: float64(30), int64(1)
memory usage: 148.6 KB

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,8.196,16.84,51.71,201.9,0.08600,0.05943,0.01588,0.005917,0.1769,0.06503,...,21.96,57.26,242.2,0.1297,0.13570,0.06880,0.02564,0.3105,0.07409,-1
1,13.170,18.66,85.98,534.6,0.11580,0.12310,0.12260,0.073400,0.2128,0.06777,...,27.95,102.80,759.4,0.1786,0.41660,0.50060,0.20880,0.3900,0.11790,1
2,12.050,14.63,78.04,449.3,0.10310,0.09092,0.06592,0.027490,0.1675,0.06043,...,20.70,89.88,582.6,0.1494,0.21560,0.30500,0.06548,0.2747,0.08301,-1
3,13.490,22.30,86.91,561.0,0.08752,0.07698,0.04751,0.033840,0.1809,0.05718,...,31.82,99.00,698.8,0.1162,0.17110,0.22820,0.12820,0.2871,0.06917,-1
4,11.760,21.60,74.72,427.9,0.08637,0.04966,0.01657,0.011150,0.1495,0.05888,...,25.72,82.98,516.5,0.1085,0.08615,0.05523,0.03715,0.2433,0.06563,-1

In [13]:
print(df.shape)
print(df.isnull().values.any())

(613, 31)
False

In [14]:
print((df.mean() < 0.5).sum()) # calculate mean for each column

20

In [15]:
print((df.mean() > 100).sum())

3

In [16]:
print((df.mean() > 50).sum())

4

In [17]:
print((df.mean() > 500).sum())

2

In [18]:
print((df.mean() > 10).sum())

9

In [19]:
print((df.mean() < 0.1).sum())

12

In [20]:
print((df.mean() < 0.05).sum())

8

In [21]:
print((df.mean() < 0.01).sum())

3

In [22]:
np.mean(df.to_numpy())

60.472273710287844

In [24]:
X_d = df.iloc[:, :30].astype(float) 
print(X_d.shape)

(613, 30)