In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression

In [2]:
#Initially just geographic and demographic datasets
df_demo = pd.read_csv('nchs_cleaned.csv',encoding='latin-1') #columns State, County, LifeExpectancyStandardError, LifeExpectancy  
df_geo = pd.read_csv('life_expectancy_by_county_data.csv',encoding='latin-1') #year, race, sex, AgeAdjustedDeathRate, LifeExpectancy

In [3]:
#add columns that are in df_geo to df_demo
df_demo[["State", "County", "LifeExpectancyStandardError"]] = None

In [4]:
df = pd.concat([df_geo, df_demo], ignore_index=True)

/tmp/ipykernel_69446/1267531392.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df_geo, df_demo], ignore_index=True)

In [12]:
print(df.info())
print(df.shape)
print(df.describe().T)
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4215 entries, 0 to 4214
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   State                        3144 non-null   object
 1   County                       3144 non-null   object
 2   LifeExpectancy               4215 non-null   float64
 3   LifeExpectancyStandardError  3144 non-null   float64
 4   Year                         1071 non-null   float64
 5   Race                         1071 non-null   object
 6   Sex                          1071 non-null   object
 7   AgeAdjustedDeathRate         1071 non-null   float64
dtypes: float64(4), object(4)
memory usage: 263.6+ KB
None
(4215, 8)
                              count         mean         std        min  \
LifeExpectancy               4215.0    74.392776    8.560774    29.1000
LifeExpectancyStandardError  3144.0     1.721649    0.323725     0.5113
Year                         1071.0  1959.000000   34.367176  1900.0000
AgeAdjustedDeathRate         1071.0  1593.061625  682.369379   611.3000

                                     25%          50%          75%        max
LifeExpectancy                 74.218333    76.952367    78.889635    89.5000
LifeExpectancyStandardError     1.529869     1.712183     1.891919     3.7458
Year                         1929.000000  1959.000000  1989.000000  2018.0000
AgeAdjustedDeathRate         1012.950000  1513.700000  2057.150000  3845.7000
     State          County  LifeExpectancy  LifeExpectancyStandardError  Year  \
0  Alabama  Autauga County       75.818245                     1.721689   NaN
1  Alabama  Baldwin County       77.560263                     1.594572   NaN
2  Alabama  Barbour County       74.935437                     1.627485   NaN
3  Alabama     Bibb County       73.550000                     1.642525   NaN
4  Alabama   Blount County       76.077778                     1.316611   NaN

  Race  Sex  AgeAdjustedDeathRate
0  NaN  NaN                   NaN
1  NaN  NaN                   NaN
2  NaN  NaN                   NaN
3  NaN  NaN                   NaN
4  NaN  NaN                   NaN

In [13]:
print(df.isnull().sum().sum())

15789